body {
  color: #444f5a;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
}
.container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(68, 79, 90, 0.4);
  margin: auto;
  margin-top: 25px;
  max-width: 800px;
  padding: 15px;
}
