body {
  color: #444f5a;
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  background-color: rgba(252, 227, 138, 0.7);
}
.container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(68, 79, 90, 0.4);
  margin: auto;
  margin-top: 25px;
  max-width: 600px;
  padding: 15px;
}
