.Forecast h1 {
    color: #288fb4;
    font-weight: 600;
    font-size: 2.25rem;
    text-transform: capitalize;
  }
  .Forecast ul {
    list-style: none;
  }
  .Forecast .current-weather {
    padding: 15px;
  }
  .Forecast .current-temp {
    font-size: 32px;
    line-height: 32px;
  }
 

  