.Forecast h1 {
    color: #2994b2;
    font-weight: 700;
    text-transform: capitalize;
  }
  .Forecast ul {
    list-style: none;
  }
  .Forecast .current-weather {
    padding: 15px;
  }
  .Forecast .current-temp {
    font-size: 32px;
    line-height: 32px;
  }
 

  